// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// VARIABLES

$darker-blue :#121c36;
$dark-blue: #1e3462;
$blue-var : #00a5e3; 
$blue :#00baff; 
$green :#50ffd4;
$red :#d81b60;


$gray-800 :#363636;
$gray-700 :#4d5a64;
$gray-600 :#85898a;
$gray-500 :#7e8b92;
$gray-400 :#b3bdc3;
$gray-300 :#d0d7db;
$gray-200 :#e0e0e0;
$gray-100 :#eceef0;


// CAFAR


$brown :#520203;
$brown-2 :#793522;
$green-water :#018e49;
$green-water-2 :#99d2b6;
$green-green :#018e49;


$custom-file-text: (
  es: "Elegir"
);