@import 'admin-lte';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/regular.scss';
@import '~@fortawesome/fontawesome-free/scss/solid.scss';
@import '~overlayscrollbars/css/OverlayScrollbars.css';
@import '~datatables.net-bs4/css/dataTables.bootstrap4.min.css';
@import '~datatables.net-responsive-bs4/css/responsive.bootstrap4.min.css';
@import 'datatables';
@import "toastr";

@import 'tables';

section.content {
    padding-bottom: 2rem;
}

#observationsWrapper {
    position: relative;

    #observations {
        width: 100%;
        height: 10rem;
    }
}